<%- include("./partials/header") %>

        <div class="container-fluid h-100">
            <div class="row">
            <div class="col-sm-2 w-100 border-right border-secondary">
                <h3>Recent Posts</h2>
                    <hr>
                <a class="blog-link" href="#">First Blog Post</a>
            </div>
            <div class="col-sm-8">
                <div class="container">
                    <h1>This Is My First Blog Post</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem consequuntur nemo fugit quisquam laudantium distinctio dignissimos beatae voluptas rem commodi totam illum dolorem cupiditate quam odit nesciunt, nostrum dolorum ab. Rem doloremque, provident officia rerum maxime qui quibusdam! Similique repellat sint at expedita quasi cum ad soluta iste. Amet nemo omnis similique ad, molestias minima libero magni aspernatur, voluptates et dolorem suscipit corporis beatae, reiciendis eos maiores perspiciatis! Quos officia aperiam itaque a, ex alias? Commodi maxime molestiae explicabo soluta suscipit voluptatum alias illum dolore amet quaerat perspiciatis distinctio quae accusantium fugiat totam quidem eligendi esse minima voluptate, praesentium architecto. Nam amet temporibus excepturi rem soluta esse, sapiente ad doloribus maxime perspiciatis at ex id corporis ab dolores voluptas quaerat necessitatibus accusamus quasi libero. Voluptatum tenetur odit veniam, voluptates explicabo, ipsam aut sequi optio ullam quidem nobis facilis doloremque laudantium dolor commodi culpa asperiores ipsa distinctio blanditiis fugiat saepe doloribus minus nostrum eius! Ducimus earum velit molestiae est laudantium? Cum placeat, totam commodi quisquam quam adipisci impedit ipsa, sapiente rem reprehenderit, asperiores laborum? Esse a perspiciatis ex doloribus cumque numquam. Dolorem, quia rerum libero, cum culpa incidunt natus aut saepe impedit quam quibusdam dolor vero nihil laudantium a? Maiores dicta amet neque animi possimus dolor similique dolorum optio? Recusandae, accusamus nemo, ad vitae inventore illo, rerum magni nisi molestiae cumque eos? Vel facere exercitationem hic dolorum quibusdam autem aliquam quaerat consequuntur perspiciatis? Quasi veniam sed fuga explicabo accusamus nemo. Nostrum delectus reprehenderit quidem numquam, ipsa commodi quia! Eius libero ipsum corrupti quas, at natus ratione? Adipisci eligendi sed harum tempore aliquid voluptates inventore soluta incidunt distinctio fugiat, tempora ea, officia voluptatum nulla, dolore ad laboriosam. Facilis officiis dolor explicabo animi quisquam tempora, error ad quos expedita accusantium id earum sit assumenda eveniet reprehenderit aut. Tempora nihil tempore animi ratione.</p>
                </div>
            </div>
            </div>
        </div>
        <div>
        </div>
        <h1 class="text-center">Comments:</h1>
        <div class="w-50 mx-auto">
            <% comment.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author %></strong>
                    </div>
                    <div class="col-md-12">
                        <%= comment.text %>
                        <hr>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="mx-auto pb-5" style="width: 150px;">
            <a href="/new"><button type="button" class="btn btn-outline-secondary">Add A Comment</button></a>
        </div>
<%- include("./partials/footer") %>
