<%- include("./partials/header") %>

        <div class="container-fluid h-100">
            <div class="row">
            <div class="col-sm-2 w-100 border-right border-secondary">
                <h3>Recent Posts</h2>
                    <hr>
                <a class="blog-link" href="#">First Blog Post</a>
            </div>
            <div class="col-sm-8">
                <div class="container">
                    <h1>Introduction</h1>
                    <p>Hey there! Welcome to my blog! My name is Dory, I'm a self taught web developer and data analyst in San Diego. My background encompasses management, sales, and hospitality. However, moving forward I definitely wanted to focus my career toward working in tech, as it's an industry I've always admired and I feel it suits my particular interests and skillsets.</p>
                    <p>For me, designing websites is a great way to flex my creativity, working through errors and programming different features is like solving a puzzle, and I love it. On the other hand, data analysis fulfills my knack for organization, as well as utilizing my curiousity about a variety of topics. If you're interested in working together, feel more than welcome to contact me and let's build some amazing things together!.</p>
                </div>
            </div>
            </div>
        </div>
        <div>
        </div>
        <h1 class="text-center">Comments:</h1>
        <div class="w-50 mx-auto">
            <% comment.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author %></strong>
                    </div>
                    <div class="col-md-12">
                        <%= comment.text %>
                        <hr>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="mx-auto pb-5" style="width: 150px;">
            <a href="/new"><button type="button" class="btn btn-outline-secondary">Add A Comment</button></a>
        </div>
<%- include("./partials/footer") %>
