<%- include("./partials/header") %>

        <div class="container-fluid h-100">
            <div class="row">
            <div class="col-sm-2 w-100 border-right border-secondary">
                <h3>Recent Posts</h2>
                    <hr>
                <a class="blog-link" href="#">First Blog Post</a>
            </div>
            <div class="col-sm-8">
                <div class="container">
                    <h1>Introduction</h1>
                    <p>Hey there, my name is Dory. I'm a hospitaliy professional who is making a career pivot to work in technology. My interests started with web development and coding, but data analysis is another area of interest for me. This blog will help to document my journey as I make a career pivot during a pandemic. Hopefully my story can one day serve as inspiration to others.</p>
                </div>
            </div>
            </div>
        </div>
        <div>
        </div>
        <h1 class="text-center">Comments:</h1>
        <div class="w-50 mx-auto">
            <% comment.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author %></strong>
                    </div>
                    <div class="col-md-12">
                        <%= comment.text %>
                        <hr>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="mx-auto pb-5" style="width: 150px;">
            <a href="/new"><button type="button" class="btn btn-outline-secondary">Add A Comment</button></a>
        </div>
<%- include("./partials/footer") %>
