<%- include("./partials/header") %>

        <div class="container-fluid h-100">
            <div class="row">
            <div class="col-sm-2 w-100 border-right border-secondary">
                <h3>Recent Posts</h2>
                    <hr>
                <a class="blog-link" href="#">First Blog Post</a>
            </div>
            <div class="col-sm-8">
                <div class="container">
                    <h1>Introduction</h1>
                    <p>Hey there, as you're probably already aware, my name is Dory. Welcome to my humble little blog. 
                    <p>A little bit about me, I grew up in Southern California, got a degree in Political Science and Classical Studies and had my sights set on law school. For about 6 months after graduation, I was volunteering and interning at various political rallies, meeting lawyers all over my city, and after speaking to many of the people I met, I slowly realized that the path I was on perhaps wasn't the best fit for me. I did what many young adults decide to do, and took a year off to "find myself" and figure out what I really wanted to do.</p>
                    <p>One year turned into many more, and I had started working in the service/hospitality industry, a fancy way of saying I was waiting tables. In no way do I want to delegitimize working in the service industry, espcially in San Diego the culture of the service industry is amazing. You have tons of fun, a flexible work schedule in terms of time off, and in my case, I never set an alarm and regularly went to the beach before work. In those five years I met some amazing friends, traveled extensively and sampled amazing foods, wines, and cocktails. Genuinely, I wouldn't trade those years for anything.</p>
                    <p>That said, as with most things in life, everything has a beginning, middle and end. For me, I could feel my time in the service industry coming to an end, it was no longer fulfilling or fun for me, and I craved having a career that would foster a greater sense of constantly learning something new and being mentally challenged, which is how I started learning how to code.</p>
                    <p>I'm very much so still very new to learning, but it's been extremely rewarding to learn something new every day. When I first started learning to code, I wanted to read about experiences that would mirror my own, people who were able to change their career track from the service industry to the tech industry without going through a bootcamp. I found however, that very few of these stories were documented online, and that's what I hope this blog can do for someone else in similar shoes. I hope that one day this blog can be a resource for others who want to change their career paths and pursue something new on their own.</p>
                </div>
            </div>
            </div>
        </div>
        <div>
        </div>
        <h1 class="text-center">Comments:</h1>
        <div class="w-50 mx-auto">
            <% comment.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author %></strong>
                    </div>
                    <div class="col-md-12">
                        <%= comment.text %>
                        <hr>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="mx-auto pb-5" style="width: 150px;">
            <a href="/new"><button type="button" class="btn btn-outline-secondary">Add A Comment</button></a>
        </div>
<%- include("./partials/footer") %>
