<%- include("./partials/header") %>
        <div class="container pt-5 pb-5">
        <h1 class="text-center">Hi! I'm Dory!</h1>
        <h5 class="text-center pt-3">I'm a self-taught, freelance, Front-End web developer and data analyst based in San Diego.</h5>
        <h5 class="text-center pt-3">Let's connect and build together!</h5>
        <hr>
        <div class="container text-center w-50 pt-3">
            <h1 class="text-center pt-3 pb-3">Skills</h1>
            <div class="row">
                <div class="col-sm-3">
                    <i class="fab fa-html5"></i>
                    <p>HTML5</p>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-css3-alt"></i>
                    <p>CSS3</p>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-js"></i>
                    <p>JAVASCRIPT</p>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-adobe"></i>
                    <p>ADOBE SUITE</p>
                </div> 
                <div class="col-sm-3">
                    <i class="fas fa-database"></i>
                    <p>SQL DATABASE</p>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-python"></i>
                    <p>PYTHON</p>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-bootstrap"></i>
                    <p>BOOTSTRAP</p>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-node-js"></i>
                    <p>NODE.JS</p>
                </div>
            </div>
        </div>
           <hr>
        <div class="container pt-3 mb-3">
            <h1 id="projects" class="text-center pb-3">Projects</h1>
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner rounded" style="height: 500px">
                  <div class="carousel-item active">
                    <a href="https://nameless-inlet-45576.herokuapp.com" target="_blank"><img style="height: 500px" src="https://i.ibb.co/JCBG0ZL/bookclub.png" class="d-block w-100" alt="..."></a>
                  </div>
                  <div class="carousel-item">
                    <a href="https://public.tableau.com/shared/YBSSYR85G?:display_count=y&:origin=viz_share_link" target="_blank"><img style="height: 500px" src="https://worldhappiness.report/assets/images/icons/whr-cover-ico.png" class="d-block w-100" alt="..."></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Tableau Regression Analysis of Happiness Report</h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="https://public.tableau.com/views/Capstone2Executive/Capstone2?:language=en&:display_count=y&:origin=viz_share_link" target="_blank"><img style="height: 500px" src="https://i.ibb.co/2njRjWk/Screen-Shot-2020-11-04-at-2-04-22-PM.png" class="d-block w-100" alt="..."></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Increasing Revenue at a Major Hotel Chain</h5>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
<%- include("./partials/footer") %>