<%- include("./partials/header") %>
<div class="ml-3">
    <a href="/blog"><button type="button" class="btn btn-outline-secondary">Back</button></a>     
</div>
    <h1 class="text-center">Add New Comment</h1>
        <form action="/blog" method="POST">
            <div class="mx-auto" style="width: 200px;">
            <div class="form-group">
                <input type="text" name="author" placeholder="Name">
            </div>
            <div>
                <textarea name="text" cols="30" rows="3"></textarea>
            </div>
            </div>
            <div class="mx-auto pb-5" style="width: 150px;">
           <input type="submit" class="btn btn-outline-secondary">
           </div>
        </form>
<%- include("./partials/footer") %>

